<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.louw0.mapper.BoardMapper">
	<resultMap type="com.cafe24.louw0.vo.Board" id="boardResultMap">
		<result property="boardNo" column="board_no"/>
		<result property="boardTitle" column="board_title"/>
		<result property="boardContent" column="board_content"/>
		<result property="boardHits" column="board_hits"/>
		<result property="mId" column="m_id"/>
		<result property="mNickname" column="m_nickname"/>
		<result property="boardDate" column="board_date"/>
		<result property="boardModiDate" column="board_modi_date"/>
	</resultMap>
	<resultMap type="com.cafe24.louw0.vo.BoardComment" id="boardCommentResultMap">
		<result property="boardNo" column="board_no"/>
		<result property="boardTitle" column="board_title"/>
		<result property="boardContent" column="board_content"/>
		<result property="boardHits" column="board_hits"/>
		<result property="mId" column="m_id"/>
		<result property="mNickname" column="m_nickname"/>
		<result property="boardDate" column="board_date"/>
		<result property="boardModiDate" column="board_modi_date"/>
		<result property="commentNo" column="comment_no"/>
		<result property="commentSort" column="comment_sort"/>
		<result property="commentDepth" column="comment_depth"/>
		<result property="commentContent" column="comment_content"/>
		<result property="commentDate" column="comment_date"/>
		<result property="commentModiDate" column="comment_modi_date"/>
	</resultMap>
	
	<select id="getBoardList" parameterType="int" resultMap="boardResultMap">
		SELECT 
			  B.board_no
			, B.board_title
			, B.board_content
			, B.board_hits
			, B.m_id
			, M.m_nickname
			, B.board_date
			, B.board_modi_date
			, COUNT(C.comment_no) AS commentCount
		FROM 
			board AS B
		INNER JOIN
			member AS M
			ON
			B.m_id = M.m_id
		LEFT JOIN
			comment AS C
			ON
			B.board_no = C.board_no
		GROUP BY
			B.board_no
		LIMIT #{column}, 10
	</select>
	<select id="getBoardLast" resultType="int">
		SELECT
			COUNT(1)
		FROM
			board
	</select>
	<select id="getBoard" parameterType="int" resultMap="boardCommentResultMap">
		SELECT 
		      B.board_no
			, B.board_title
			, B.board_content
			, B.board_hits
			, B.m_id
			, B.board_date
			, B.board_modi_date
			, M.m_nickname
			, SQ.comment_no
			, SQ.comment_sort
			, SQ.comment_depth
			, SQ.comment_content
			, SQ.m_id AS cMId
			, SQ.m_nickname AS cMNickname
			, SQ.comment_date
			, SQ.comment_modi_date
		FROM
			board AS B
		LEFT JOIN
			member AS M
			ON
			B.m_id = M.m_id
		LEFT JOIN (
					SELECT 
						  C.comment_no
						, C.board_no
						, C.comment_sort
						, C.comment_depth
						, C.comment_content
						, C.m_id
						, CM.m_nickname
						, C.comment_date
						, C.comment_modi_date
					FROM
						comment AS C
					INNER JOIN
						member AS CM
						ON
						CM.m_id = C.m_id
					) AS SQ
			ON
			SQ.board_no = B.board_no 
		WHERE
			B.board_no = #{no}
		ORDER BY
			SQ.comment_sort, SQ.comment_depth, IF(ISNULL(SQ.comment_modi_date), SQ.comment_date, SQ.comment_modi_date)
	</select>
	<insert id="insertHits" parameterType="int">
		UPDATE 
			board
		SET 
			board_hits = board_hits+1
		WHERE 
			board_no=#{no}
	</insert>
	<insert id="insertBoard" parameterType="com.cafe24.louw0.vo.Board">
		INSERT INTO 
			board 
			(
			  board_no
			, board_title
			, board_content
			, m_id
			, board_date) 
		VALUES 
			(
				(SELECT
					B.board_no 
				FROM
					board AS B
				ORDER BY
					B.board_no DESC
				LIMIT 1
				)+1
				, #{boardTitle}
				, #{boardContent}
				, #{mId}
				, NOW()
			)
	</insert>
	<update id="modiBoard" parameterType="com.cafe24.louw0.vo.Board">
		UPDATE 
			board
		SET
			board_content=#{boardContent}
			, board_modi_date=NOW()
		WHERE
			board_no = #{boardNo}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM
			board
		WHERE
			board_no = #{no}
	</delete>
	
	<insert id="insertComment" parameterType="com.cafe24.louw0.vo.BoardComment">
		INSERT INTO 
			comment 
			(
			  comment_no
			, board_no
			, comment_sort
			, comment_depth
			, comment_content
			, m_id
			, comment_date) 
		VALUES 
			(
				(SELECT 
					C.comment_no
				FROM 
					comment AS C
				ORDER BY
					C.comment_no DESC
				LIMIT 1
				)+1
			, #{boardNo}
			, (SELECT 
					D.comment_sort
				FROM 
					comment AS D
				WHERE 
					D.board_no = #{boardNo}
				ORDER BY
					D.comment_sort DESC
				LIMIT 1
				)+1
			, #{commentDepth}
			, #{commentContent}
			, #{mId}
			, NOW()
			);
	</insert>
	
	<insert id="insertCommentC" parameterType="com.cafe24.louw0.vo.BoardComment">
		INSERT INTO 
			comment 
			(
			  comment_no
			, board_no
			, comment_sort
			, comment_depth
			, comment_content
			, m_id
			, comment_date) 
		VALUES 
			(
				(SELECT 
					C.comment_no
				FROM 
					comment AS C
				ORDER BY
					C.comment_no DESC
				LIMIT 1
				)+1
			, #{boardNo}
			, #{commentSort}
			, #{commentDepth}
			, #{commentContent}
			, #{mId}
			, NOW()
			);
	</insert>

	<select id="getBookmarkBoard" parameterType="com.cafe24.louw0.vo.Member" resultMap="boardResultMap">
		SELECT
			B.board_no
			, B.board_title
			, B.board_content
			, B.board_hits
			, B.m_id
			, M.m_nickname
			, B.board_date
			, B.board_modi_date
		FROM
			bookmark AS BM
		INNER JOIN
			board AS B
		INNER JOIN
			member AS M
			ON
			B.board_no = BM.board_no
			AND 
			B.m_id = M.m_id
		WHERE 
			BM.m_id = #{mId}
		ORDER BY
			BM.bookmark_no DESC
		LIMIT #{column}, 10
	</select>
	<select id="getBookmarkBoardCnt" parameterType="com.cafe24.louw0.vo.Member" resultType="int">
		SELECT
		 	COUNT(1)
		FROM
			bookmark AS BM
		INNER JOIN
			board AS B
			ON
			B.board_no = BM.board_no
		WHERE 
			BM.m_id = #{mId}
	</select>
</mapper>